.homepage {
  display: grid;
  grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
  grid-template-rows: minmax(min-content, 25rem) minmax(min-content, 11rem) repeat(
      2,
      1fr
    );

  row-gap: 2rem;

  height: 100%;
}
